body {
    width: 1600px;
    height: 7335px;
}

section {
    display: flex;
    justify-content: center;
}

.a1 {
    padding-top: 50px;
}

.rectangle {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.bgimg {
    background-image: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
}

#t1 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;
    padding-top: 177px;
}

#t2 {
    text-align: center;
    color: white;
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 95px;
    word-wrap: break-word;
    padding-left: 344px;
    padding-right: 344px;
    padding-bottom: 177px;
}

.pos {
    padding-left: 344px;
    padding-right: 344px;
}

.discount {
    text-align: center;
    color: #FF0000;
    font-size: 88px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    padding-top: 120px;
}

.det {
    text-align: center;
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding-top: 48px;
}

.ohd {
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    padding-top: 16px;
}

.hny {
    padding-top: 48px;
}

.a2 {
    padding-top: 120px;
}

.bgimg2 {
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
}

.midnight {
    color: white;
    font-size: 64px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    word-wrap: break-word;
    padding-top: 126px;
    padding-left: 126px;
}

.invited {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    padding-top: 24px;
    padding-left: 126px;
    padding-right: 39.17px;
}

.joinnow {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-top: 48px;
    padding-left: 158px;
}

.col {
    display: flex;
    justify-content: center;
}

.a3 {
    padding-top: 120px;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    word-wrap: break-word;
    text-align: center;

}

.alig {
    padding-right: 386px;
    padding-left: 385px;
    padding-top: 100px;
}

.joinb {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    background: #FF0000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    padding: 16px 32px;
    border-color: transparent;
    margin-top: 48px;
}

.nbo {
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding-top: 104px;
}

.cs {
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
    padding-top: 16px;
    height: 60px;
    width: 328px;
}

.now {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    height: 128px;
    width: 393px;
    padding-top: 22px;
}

.img1 {
    border-radius: 9999px;
    border: 15px #FF0000 solid;
    padding: 49.1px;
}

.tf {
    color: #FF0000;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    padding-top: 112px;
}

.wy {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    height: 96px;
    width: 296px;
    padding-top: 16px;
}

.img2 {
    padding-top: 43px;
    padding-right: 136px;
}

#wif {
    color: #070211;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

#discount50 {
    padding-top: 16px;
}

#detail {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
    padding-top: 28px;
}

.aligned {
    text-align: center;
}

.imageContainer {
    position: relative;
}

#image1 {
    padding-top: 77px;
    padding-left: 746.74px;
    position: absolute;
}

#image2 {
    padding-left: 891px;
}

#image3 {
    background-image: url("resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: auto;
    position: absolute;
    padding-right: 600px;
}